@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,700&display=swap');

body {
    padding: 10px;
    margin: 0;
    background: radial-gradient(rgb(255, 255, 255), rgb(195, 209, 214));
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

h1, p {
    text-align: center;
}

h1 {
    margin-top: 20px;
}

button {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: white;
}

button:focus {
    outline: none;
}

button:active {
    background-color: whitesmoke;
}

.calc {
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 470px;
    background-color: black;
    border-radius: 10px;
}

.result {
    width: 100%;
    height: 110px;
    background-color: rgb(121, 121, 121);
    font-size: 50px;
    text-align: end;
    line-height: 110px;
    color: white;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.507);
}

.button-container {
    width: 90px;
    height: 90px;
    display: flex;
    margin: auto;
}

.button {
    width: 88px;
    height: 88px;
    color: white;
    background-color: rgb(168, 168, 168);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 88px;
    font-size: 30px;
    animation: 1s;
}

.flash {
    animation: flash 0.5s;
}

@keyframes flash {
    0% {
        background-color: rgb(219, 216, 216);
        opacity: 0.7;
    }
    100% {
        background-color: rgb(168, 168, 168);
    }
}

.button:active {
    transform: scale(0.97);
}

.special {
    background-color: rgb(255, 187, 0);
}

.equel {
    background-color: rgb(255, 60, 0);
}
.ac {
    background-color: rgb(0, 179, 0);
}

.won {
    background-color: greenyellow;
}

.disable {
    pointer-events: none;
    opacity: 0.7;
}

footer {
    margin-top: 30px;
    text-align: center;
}